body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-image: url(hubschenfraulein.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    grid-auto-columns: 100%;
    grid-auto-rows: 50%, 50%;
}

/* * { outline: solid 0.25rem rgba(235, 4, 4, 0.5); } */

.topimage{
grid-column: 1/2;
grid-row: 1/2;
height: 420px;
}

h1 {
    color: whitesmoke;
    font-size: 80px;
    font-family: 'EB Garamond', serif;
    text-align: center;
    padding-right: 650px;

}

h2 {
    color: whitesmoke;
    font-size: 50px;
    font-family: 'EB Garamond', serif;
    text-align:center;
    padding-right: 620px;
}

a {
    color: black;
}

p{
    color: black;
}

.cd-switch h3 {
  font-size: 20px;
  margin: 0;
  font-family: 'EB Garamond', serif;
  padding-right: 400px;
  padding-top: 43px;
  color: black;
  justify-content: right;
}

.cd-switch {
  padding: 0;
  text-align: center;
  height: 172px;
  background-color: whitesmoke;
  margin-top: 30px;
}

.switchFilter {
  width: 0;
  display: inline-block;
  background-color: #db6576;
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
  transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
}

label {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #3d4349;
  width: 85px;
  padding: 15px 0;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  margin-right: 10px;
}

.switch {
  position: absolute;
  display: inline;
  left: 80%;
  right: auto;
  bottom: 5px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  margin: 2em 0;

}
.switch input[type="radio"] {
  visibility: hidden;
  position: absolute;
  height: 100%;
}
.switch input[type="radio"]#yes:checked ~ label[for="yes"] {
  color: white;
  border: 1px solid black;
}
.switch input[type="radio"]#yes:checked ~ .switchFilter {
  left: 0;
  opacity: 1;
  width: 87px;
}
.switch input[type="radio"]#no:checked ~ label[for="no"] {
  color: white;
  border: 1px solid black;
}
.switch input[type="radio"]#no:checked ~ .switchFilter {
  left: 100px;
  width: 87px;
  opacity: 1;
}
