body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* background-image: url(img/hubschenfraulein.jpg); */
    background-size: 100%;
    background-repeat: no-repeat;
    
    }

.header {
    box-sizing: border-box;
}

/* * { outline: solid 0.25rem rgba(235, 4, 4, 0.5); } */

.allescontainer {
    display: flex;
    flex-direction: column;
}

.top{
   height: 5px; 
   background-color: whitesmoke;    
   text-align: center;
   font-size: 50px; 
}


/* .whitespace{ */
    /* height: 20px; */
    /* background-color: whitesmoke; */
/* } */

.box {
    width: 425px;
    padding: 15px;
    padding-bottom: 15px;
    float: left;
   
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#grid {
display: grid;
grid-auto-columns: 100%;
grid-auto-rows: 50% 50%;
}

.topimage {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 400px;
    width: 1365px;
  
}

.bottom {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 200px;
    width: 1000px;
}